.week_days {
  text-align: center;
  color: white;
  font-size: 150%;
}

.hours {
  color: white;
  text-align: center;
  font-size: 150%;
}

.break {
  color: white;
  font-size: 150%;
}

.table_1 {
  width: 100%;
  height: 100%;
  border-spacing: 5;
}

.body {
  background-color: #2c2c2c;
}

.data_bases {
  color: #ffb347;
}

.cyber {
  color: #b2faf7;
}

.pax {
  color: #c23b22;
}

.fm {
  color: #f7fab2;
}

.is {
  color: #b6fab2;
}

.digi {
  color: #b2b6fa;
}

.net {
  color:  #5F89C5;
}

.tuto {
  color: white;
}

.ipoi {
  color: #475764;
}

.ll {
  color: #f6b2fa;
}

.iaw {
  color: #f6b2fa;
}

.extern {
  color: wheat;
  text-decoration: none;
}

td:not(.empty) {
  text-align: center;

  background-color: black;
}

a {
  text-decoration: none;
  font-size: 150%;
}

.empty {
}
